<div class="wrapper" ng-controller="HomeController">
    <div class="landing-header"> <!-- style="background-image: url('../assets/paper_img/cat.jpg');" -->
        <div class="container">
            <div class="motto">
                <h1 ng-show="userName" class="title-uppercase">Welcome: {{userName}}</h1>
                <h2 class="title-uppercase">Home</h2>
                <h3>Build your {{title}}</h3>
                <br/>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Let's talk product</h2>
                        <h5>Quote builder is one stop solution for Builders and Customers to build their dream home.</h5>
                        <br/>
                        <a href="#qb-services" class="btn btn-danger btn-fill">See Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-light-brown landing-section" id="qb-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 column">
                        <h4>Get on board</h4>
                        <p>Get on board with Quote Builder and design your own house. Your choices, your preferences and your customised quotes.</p>
                        <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                    </div>
                    <div class="col-md-4 column">
                        <h4>Customise your preferences</h4>
                        <p>Like to design your house on your own? We provide fully customisable options for your house.</p>
                        <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                    </div>
                    <div class="col-md-4 column">
                        <h4>Get a quote</h4>
                        <p>Quote builder provides you a comprehensive quote according to your choices and preferences. Generate as many quotes as you want, we
                            wont charge you.</p>
                        <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>